.container {
    background-color: #c00025;
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 25px;
    height: 100px;
    width: 400px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
}

.logo-container {
    margin: 30px;
}

.button-container{
   
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(5, 80px);
    grid-gap: 10px;
}
.operator-container {
    display: grid;
    width: 80px;
    height: 420px;
    align-content: space-between;
    justify-content: center;
}
.operator_button {
    box-shadow:  0px 2px 2px#322c2d;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    height: 75px;
    width: 75px;
    color: white;
    background: rgb(3, 122, 143);
    font-size: 2rem;
}
.numbers-container {
    display: grid;
    height: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
}
.numbers_button {
    box-shadow: 0px 2px 2px#322c2d;
    align-content: right;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    height: 75px;
    width: 75px;
    color: white;
    background: rgb(15, 85, 126);
    font-size: 2rem;
}
.specials-container {
    display: grid;
    height: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px auto;
    justify-items: center;
}
.special_button {
    box-shadow: 0px 2px 2px#322c2d;
    align-content: right;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    height: 75px;
    width: 75px;
    color: white;
    background: rgb(20, 135, 155);
    font-size: 2rem;
}